.container-div {
	width: 50%;
	margin: 0 auto;
}


html, body {
    overflow-y: visible;
}

body.body-style {background:#39ACE6;
} /*Teespring Blue */


label.main-h1-style {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: normal;
    color:white;
}

h1.title {
	text-align:center;
}

h2.title-two {
	text-align:center;
	color:white;
}

h5.body {
	color:white;
}


input.key {
	height: 28px;
	width: 100%;
}

button.btn-savekey {
  	width: 49%;
  	color: black;
  	font-size: 10px;
  	margin-top: 8px;
}

button.select-csv {
	width: 100%;
  	color: black;
  	font-size: 10px;
  	margin-top: 4px;
}

textarea.response {
	height: 100px;
	width: 100%;
	margin-top: 30px;
}

textarea.last {
	height: 300px;
	width: 100%;
	margin-top:30px;
}

button.perform {
	width: 100%;
	color: black;
	font-size: 10px;
	margin-top: 4px;
}
